:root {
  /* Typography */
  --headline-font-family: "DM Sans", Helvetica;
  --headline-font-weight: 500;
  --headline-font-size: 20px;
  --headline-line-height: 24px;
  --headline-letter-spacing: -0.2px;
  --headline-font-style: normal;

  /* Spacing */
  --spacing-spacing-4: 16px;

  /* Colors */
  --colors-text-black-100: rgba(0, 0, 0, 1);
  --colors-background-white-60: rgba(255, 255, 255, 0.6);
  --colors-border-status-occupied: rgba(255, 95, 95, 1);
  --colors-border-status-accepted: rgba(17, 151, 23, 1);
}
